<div class="alert-popup-warning">
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="form-horizontal">
    <fieldset>
      <!-- Form Name -->
      <legend>Detalle de la Persona</legend>

      <div class="form-group">

        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon">RUT</span>
            <input
              id="prependedtext"
              name="prependedtext"
              class="form-control"
              type="text"
              value="{{ persona.rut }}"
              [ngStyle]="{'background-color': isValidRut == true ? '#2CE664' : 'red'}"
            />
          </div>
        </div>
      </div>
      <div class="form-group">

        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon">Nombre</span>
            <input
              id="prependedtext"
              name="prependedtext"
              class="form-control"
              type="text"
              value="{{ persona.nombre }} {{ persona.apellido }}"
            />
          </div>
        </div>
      </div>

      <div class="form-group">

        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon">Teléfono</span>
            <input
              id="prependedtext"
              name="prependedtext"
              class="form-control"
              type="text"
              value="{{ persona.telefono }}"
              [ngStyle]="{'background-color': isValidTelefono == true ? '#2CE664' : 'red'}"
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon">Direción</span>
            <input
              id="prependedtext"
              name="prependedtext"
              class="form-control"
              type="text"
              value="{{persona.direccion.calle}} {{persona.direccion.numero}}"
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon">Comuna</span>
            <input
              id="prependedtext"
              name="prependedtext"
              class="form-control"
              type="text"
              value="{{ persona.direccion.comuna.nombre }}"
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon">Region</span>
            <input
              id="prependedtext"
              name="prependedtext"
              class="form-control"
              type="text"
              value=" {{ personaObjRegion }}"
            />
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="activeModal.close('Close click')"
        >
          Close
        </button>
      </div>
    </fieldset>
  </form>
</div>
